<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/main.css" />
    <title>Document</title>
  </head>
  <body>
    <% if(user) {%>
    <p> <%= user.email %> </p>
    <a href="auth/logout">Logout</a>
    <%}else {%>
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Register</a>
    <%};%>

    <% if(!consent){ %>
      <p>did not consent</p>
      <a href="/?consent=true">
        <p>we are using cookies so better consent or else get out</p>
      </a>

    <% } else {%>
      <p>consented</p>
    <% }; %>
      <div><h1>u deserve some files to upload</h1>
        <form action="/profile" method="post" enctype="multipart/form-data">
          <input type="file" name="avatar" />
        </form></div>
    <h1>currency app for your family and friends</h1>
  <form action="/auth/login" method="POST">
    <input type="hidden" name="_csrf" value="<%= csrfToken%>">
    <label for="email">email</label>
    <input id="email" type="text" name="email" value="googlman6300@gmail.com"/>
    <label for="password">password</label>
    <input id="password" type="text" name="password" value="test12"/>
    <button type="submit">submit the form</button>
  </form>
  <p class="<% if(isFresh){%>
    fresh
  <%} else {%>
    old
  <%}; %>"><b > <%= data.header%><b></p>
    <button><a href="/?refresh=true">refresh</a></button>
    <ul class="container">
     <% data.data.forEach((currency)=> { %>
      <li class="card"><%= currency.name %> - <%= currency.value%> KZT</li>
      <% }); %>
    </ul>
  </body>
</html>
